body {
    background-color: #E4CCB0;
}

button {
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

/*WELCOME SECTION*/

.welcome-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.welcome-body-content {
    padding: 2%;
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
    color: #e9decdec;
    background-color: #723a20d8;
    border-radius: 70px;
    width: 80vw;
}

.welcome-body-content button a{
    color: #fff;
    text-decoration: none;
    font-size: 2em;
}


/*FORMS*/

.guest-form-container {
    display: flex;
    justify-content: center;
}

.guest-form-container form {
    color: #e9decdec;
    background-color: #7b4932;
    border-radius: 2%;
    padding: 5%;
    margin-top: 5em;
    width: 30vw;
}


/*HOME SECTION*/

.home-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.presentation {
    margin-top: 30px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.presentation a {
    color: #723a20;
    font-weight: 700;
}

.presentation h2 {
    font-size: 3em;
    font-weight: 500;
}

.presentation p {
    font-size: 1.5em;
}

.home-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 3em;
}

.home-carousel img {
    height: 500px;
    width: 750px;
}

.carousel-arrow {
    background-image: url('/public/img/icons/ic_arrow_circle_left.png');
    background-size: cover;
    background-position: center center;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.carousel-arrow:hover {
    scale: 1.1;
    transition: 0.2s all ease;
}

.left {
    margin-right: 1em;
}

.right {
    transform: scale(-1);
    margin-left: 1em;
}
